<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" data-name="vs/editor/editor.main" href="/package/min/vs/editor/editor.main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script>
        var require = {
            paths: {
                vs: "/package/min/vs"
            }
        };
    </script>
    <script src="/package/min/vs/loader.js"></script>
    <script src="/package/min/vs/editor/editor.main.nls.js"></script>
    <script src="/package/min/vs/editor/editor.main.js"></script>
    <link href="/css/styles.css" rel="stylesheet" />

</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading bg-light"><i class="fa fa-folder-open"></i>&nbsp;
                <span id="projectName"><%= projectname %></span>&nbsp;<a id="createFile"><i class="fa fa-plus-square"></i></a></div>
            <div class="list-group list-group-flush">
                <% for (var i = 0; i < files.length; i++) { %>
                    <span class="list-group-item list-group-item-action list-group-item-light p-3">
                        <i class="fa fa-file"></i>&nbsp;&nbsp;
                        <a onclick="getFile(this);" class="justify-content-between">
                            <%= files[i] %>&nbsp;&nbsp;
                        </a>
                        <a><span onclick="editFileName(this)"><i class="fa fa-edit"></i></span></a>&nbsp;&nbsp;<a><span onclick="deleteFile(this)"><i class="fa fa-trash"></i></span></a>
                    </span>
                    <% } %>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <a id="sidebarToggle"><i class="fa fa-folder-closed"></i></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item px-lg-1 py-1 py-lg-0"><a class="btn btn-outline-danger" href="/user/dashboard">Back</a></li>
                            <li class="nav-item px-lg-1 py-1 py-lg-0"><a class="btn btn-outline-success" href="#!">Start Collaboration Session</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid row p-4">
                <p id="editor" class="col-lg-9" style="height: 400px">
                </p>
                <div id="compiler" class="col d-none">
                    <div class="align-self-start">
                        <input id="stdin" class="form-control row m-1" placeholder="Inputs (seperated by an ' | ' symbol)" />
                        <button id="compile" class="btn btn-primary row m-1">Compile</button>
                        <div class="fakeScreen row m-1" id="opscreen">
                            <p class="line1">Output<span class="cursor1">_</span></p>
                            <p class="line4">><span id="output" class="cursor4">_</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>