<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/js/languages.js"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="A collaborative compiler with pair programming function implemented using socket.io and monaco editor" name="description">
    <meta content="Collaborative Compiler, collaborative compiler, pair programming, Pair Programming, collaboration, collaborative session, Collaboration, Collaborative Session, sahapaathi, sahapaathi ai, collaborative compiler, compiler, Compiler, Collaborative Compiler with Pair Programming, monaco editor"
        name="keywords">
    <link rel="stylesheet" href="/ace-builds/css/ace.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/chat.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.2/dist/peerjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/ace-builds/src-noconflict/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
    <script src="/ace-builds/src-noconflict/ext-modelist.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" href="/ace-collab-ext/dist/css/ace-collab-ext.css">
    <script src="/ace-collab-ext/dist/umd/ace-collab-ext.js"></script>
    <link href="/css/styles.css" rel="stylesheet" />
    <script>
        const userID = '<%= userID %>'
        var projectRoomID = '<%= projectRoomID %>'
    </script>
</head>

<body onload="addlist()">
    <div id="video-grid" style="display: none;"></div>
    <div class="loader" id="loader" style="display: none;"></div>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-dark" id="sidebar-wrapper">
            <div class="sidebar-heading bg-dark border-bottom color-white"><i class="fa fa-lg fa-folder"></i>&nbsp;
                <span id="projectName"><%= projectname %></span>&nbsp;<a id="createFile"><i class="fa fa-plus"></i></a></div>
            <div class="list-group list-group-flush">
                <% for (var i = 0; i < files.length; i++) { %>
                    <span class="list-group-item list-group-item-action list-group-item-light p-3">
                        <i class="fa fa-file-code"></i>&nbsp;&nbsp;
                        <a onclick="getFile(this);" class="justify-content-between">
                            <%= files[i] %>&nbsp;&nbsp;
                        </a>
                        <a><span onclick="editFileName(this)"><i class="fa fa-edit"></i></span></a>&nbsp;&nbsp;<a><span onclick="deleteFile(this)"><i class="fa fa-trash"></i></span></a>
                    </span>
                    <% } %>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
                <div class="container-fluid">
                    <div id="tutorial" class="d-flex justify-content-center" style="align-items: baseline;">
                        <a id="sidebarToggle"><i class="fa fa-lg fa-code"></i></a>
                        <a style="margin-left: 10px;" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#tutorialModal">Tutorial</a>
                        <!--<button style="margin-left: 10px;" id="mic" class="btn btn-success"><i class="fa fa-microphone"></i></button>
                   
                        --></div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <% if(isHost) { %>
                                <li id="back" class="nav-item px-lg-1 py-1 py-lg-0"><a onclick="leaveRoom()" class="btn btn-outline-danger" href="/user/dashboard">Back</a></li>
                                <li class="nav-item px-lg-1 py-1 py-lg-0 d-none" id="roomIdLi">
                                </li>
                                <li id="collaboration" class="nav-item px-lg-1 py-1 py-lg-0"><a class="btn btn-outline-success" id="manageCollaboration" onclick="manageCollaboration()">Start Collaboration Session</a></li>

                                <% } %>
                                    <% if(!isHost) { %>
                                        <li id="leaveRoom" class="nav-item px-lg-1 py-1 py-lg-0"><a onclick="leaveRoom()" class="btn btn-outline-danger" href="/user/dashboard">Leave Room</a></li>
                                        <% } %>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div id="editordiv" class="container-fluid row p-4">
                <!-- <p class="col-lg-9" id="editor" style="width: 700px;height: 580px;">
                </p> -->
                <div style="margin-left: 25px;" id="compiler" class="compiler col d-none">
                    <select id="dropdown-language" class="dropdown m-2 mt-4">
                  </select>
                    <div class="input-group mb-3 mt-4">
                        <input type="text" id="stdin" class="form-control m-2" placeholder="Inputs seperated by '|'" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success m-2" type="button" id="compile">Run</button>
                        </div>
                    </div>
                    <div class="output p-3">
                        <div class="fakeScreen " id="opscreen" style="visibility: hidden; color: floralwhite;">
                            <p class="line1">Output<span class="cursor1">_</span></p>
                            <p class="line4">&gt;<span id="output" class="cursor4"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="chatbot" class="main-card chat-collapsed d-none">
        <button id="chatbot_toggle">
          <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15 4v7H5.17l-.59.59-.58.58V4h11m1-2H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm5 4h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1z"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="display:none"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
      </svg>
        </button>
        <div class="main-title">
            <div>
                <svg title="robot" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15 4v7H5.17l-.59.59-.58.58V4h11m1-2H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm5 4h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1z"/></svg>
                <path d="M2,21L23,12L2,3V10L17,12L2,14V21Z" />
                </svg>
            </div>
            <span>Chat</span>

        </div>
        <div class="chat-area" id="message-box">
        </div>
        <div class="line"></div>
        <div class="input-div">
            <input class="input-message" name="message" type="text" id="message" placeholder="Type your message ..." />
            <button class="input-send" onclick="send()">
            <svg style="width:24px;height:24px">
              <path d="M2,21L23,12L2,3V10L17,12L2,14V21Z" />
            </svg>
          </button>
        </div>
    </div>
    <div class="modal" id="tutorialModal">
        <div class="modal-dialog">
            <div class="modal-content" style="background: #272424F8; color: #ffffff;">
                <!-- Modal body -->
                <div class="modal-body">
                    <!-- Carousel -->
                    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h3>File Operations</h3>
                                <img src="assets/video/file ceration.gif" class="d-block w-100" alt="...">
                                <p>&#8226; Use the <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="white" stroke-linecap="round" stroke-width="2" d="M12 20v-8m0 0V4m0 8h8m-8 0H4"/></svg>                                    icon to create a new files. <br> &#8226; You can also Delete and Rename files.
                                </p>

                            </div>
                            <div class="carousel-item">
                                <h3>Editor and Compiler</h3>
                                <img src="assets/video/edit.gif" class="d-block w-100" alt="...">
                                <p>&#8226; Click on the file name to open the editor and start coding.<br> &#8226; Execute your code using "Run". You can also provide inputs.</p>
                            </div>
                            <div class="carousel-item">
                                <h3>A.I Pair Programmer</h3>
                                <img src="assets/video/ai.gif" class="d-block w-100" alt="...">
                                <p>&#8226; To activate A.I start a line with a "//" and end it with a '.' <br> &#8226; You will get suggestions on the next line.
                                </p>
                            </div>
                            <div class="carousel-item">
                                <h3>Start Collaboration</h3>
                                <img src="assets/video/start collaboration.gif" class="d-block w-100" alt="...">
                                <p>Use the Start Collaboration button to generate a session ID and share it with your mates!
                                </p>
                            </div>
                            <div class="carousel-item">
                                <h3>Restrict Editing</h3>
                                <img src="assets/video/restrict editing.gif" class="d-block w-100" alt="...">
                                <p>&#8226; Host can restrict other users on the session from editing. <br> &#8226; Use the toggle on the top to do this.</p>
                            </div>
                            <div class="carousel-item">
                                <h3>Stop Collaboration</h3>
                                <img src="assets/video/stop collaboration.gif" class="d-block w-100" alt="...">
                                <p>Click on Stop Collaboration to stop the session and remove all participants.</p>
                            </div>


                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>



                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/script.js"></script>

</html>