<head>
    <title>Login/Register</title>
</head>


<% if (messages.error) { %>
    <div>
        <%= messages.error %>
    </div>
    <% } %>
        <section>
            <div class="container">
                <div class="user signinBx">
                    <div class="formBx">

                        <form action="/user/register" method="post">
                            <h2>Create an account</h2>

                            <input type="text" name="name" placeholder="Name" required pattern="[a-zA-Z ]+" />
                            <input type="email" name="email" placeholder="Email Address" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
                            <input type="password" name="password" placeholder="Create Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{6,}" />
                            <input type="submit" name="register" value="Register" />
                            <p class="signup">
                                Already have an account ?
                                <a href="/user/login">Sign in.</a>
                            </p>
                        </form>
                    </div>
                    <div class="imgBx"><img src="register.png" alt="" /></div>
                </div>
            </div>
        </section>