<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            padding-top: 80px;
        }
        
        .overlay {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 2;
            opacity: 0;
            background: rgba(39, 42, 43, 0.8);
            transition: opacity 200ms ease-in-out;
            border-radius: 4px;
            margin: -15px 0 0 -15px;
        }
        
        .overlay a {
            margin: 5px;
        }
        
        .overlay:hover {
            opacity: 1;
        }
    </style>
    <title>Sahapaathi</title>
</head>

<body>
    <%- body %>
</body>
<script>
    var sizeTheOverlays = function() {
        $(".overlay")
            .resize()
            .each(function() {
                var h = $(this).parent().outerHeight();
                var w = $(this).parent().outerWidth();
                $(this).css("height", h);
                $(this).css("width", w);
            });
    };

    sizeTheOverlays();

    var width = $(window).width();
    $(window).resize(function() {
        if ($(this).width() != width) {
            width = $(this).width();
            sizeTheOverlays();
        }
    });
</script>

</html>