<head>
    <title>Login</title>
</head>
<section>
    <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{6,}" -->
    <div class="container">
        <div class="user signinBx">
            <div class="formBx">

                <form action="/user/register" method="post">
                    <h2>Create an account</h2>
                    <% if (messages.error) { %>
                        <p class="alert alert-danger">
                            <%= messages.error %>
                        </p>
                        <% } %>
                            <input type="text" name="name" placeholder="Name" required pattern="[a-zA-Z ]+" />
                            <input type="email" name="email" placeholder="Email Address" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
                            <input type="password" name="password" placeholder="Create Password" required />
                            <input type="submit" name="register" value="Register" />
                            <p class="signup">
                                Already have an account ?
                                <a href="#" onclick="toggleForm();">Sign in.</a>
                            </p>
                </form>
            </div>
            <div class="imgBx"><img src="register.png" alt="" /></div>
        </div>
        <div class="user signupBx">
            <div class="imgBx"><img src="login.jpg" alt="" /></div>
            <div class="formBx">
                <form action="/user/login" method="post">
                    <h2>Sign In</h2>
                    <!-- <% if (messages.error) { %>
                        <div class="alert alert-danger">
                            <%= messages.error %>
                        </div>
                        <% } %> -->
                    <input type="text" name="email" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
                    <input type="password" name="password" placeholder="Password" />
                    <input type="submit" name="login" value="Login" />
                    <p class="signup">
                        Don't have an account ?
                        <a href="#" onclick="toggleForm();">Register.</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    const toggleForm = () => {
        //refresh the toggled container
        document.querySelector('.signinBx').classList.toggle('signupBx');
        const container = document.querySelector('.container');
        container.classList.toggle('active');
    };
</script>